<!--
 Copyright 2021 The Chromium Authors. All rights reserved.
 Use of this source code is governed by a BSD-style license that can be
 found in the LICENSE file.
-->

<div class="app-telemetry-card">
  <header>Storage</header>
  <div class="details">
    <ul class="device-list" *ngFor="let info of blockDeviceInfo">
      <li class="device-list-item"><span>Device: </span>{{ info.path }}</li>
      <li class="device-list-item"><span>Type: </span>{{ info.type }}</li>
      <li class="device-list-item">
        <span>Size: </span
        >{{ convertBStrtoGB(info.size) | number: "2.2-2" }} GiB
      </li>
    </ul>
  </div>
</div>
