/**
 * Copyright 2021 Google LLC
 *
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file or at
 * https://developers.google.com/open-source/licenses/bsd
 */

.light {
  --color-black: #000;
  --color-dark-grey: #1c1c1c;
  --color-light-grey: #2c2c2c;
  --color-lighter-grey: #d3d3d3;
  --color-white: #fff;
  --color-fc: #f7f7f7;
  --color-blue: #4c8bf5;
  --color-yellow: #e0b300;

  --app-background: var(--color-white);

  --app-header-background: var(--color-white);
  --app-header-border-bottom-color: var(--color-lighter-grey);
  --app-header-color: var(--color-light-grey);

  --app-sidenav-background: var(--color-white);
  --app-sidenav-border-right-color: var(--color-lighter-grey);
  --app-sidenav-icon-color: var(--color-darker-white);
  --app-sidenav-item-active-icon-color: var(--color-blue);
  --app-sidenav-item-active-color: var(--color-black);

  --app-content-background: var(--color-white);
  --app-content-color: var(--color-dark-grey);

  --app-dashboard-card-background: var(--color-white);
  --app-dashboard-card-color: var(--color-black);
  --app-dashboard-card-border-color: #ccc;

  --app-error-message-color: var(--color-yellow);
}

.dark {
  --color-white: #fff;
  --color-black: #000;
  --color-dark: #121212;
  --color-dark-grey: #1c1c1c;
  --color-medium-grey: #252525;
  --color-light-grey: #303030;
  --color-lighter-grey: #cbcaca;
  --color-darker-white: #989898;
  --color-dark-white: #e3e3e3;
  --color-blue: #4c8bf5;
  --color-yellow: #e0b300;

  --color-white: #fff;

  --color-blue: rgb(76, 139, 245);

  --app-header-background: var(--color-medium-grey);
  --app-header-border-bottom-color: var(--color-dark-grey);
  --app-header-color: var(--color-white);

  --app-sidenav-background: var(--color-light-grey);
  --app-sidenav-color: var(--color-dark-white);
  --app-sidenav-subheader-color: var(--color-lighter-grey);
  --app-sidenav-icon-color: var(--color-darker-white);
  --app-sidenav-item-active-color: var(--color-white);
  --app-sidenav-item-active-icon-color: var(--color-blue);
  --app-sidenav-item-active-color: var(--color-white);

  --app-content-background: var(--color-dark);
  --app-content-color: var(--color-white);

  --app-dashboard-card-background: var(--color-dark-grey);
  --app-dashboard-card-color: var(--color-white);
  --app-dashboard-card-border-color: #333;

  --app-log-viewer-background: var(--color-medium-grey);
  --app-log-viewer-color: var(--color-white);

  --app-error-message-color: var(--color-yellow);
}
