/*
 * Copyright 2023 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

 .diagnostics-dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 }

 .diagnostics-card-container {
  margin: 8px;
  width: 100%;
 }

 .error-message {
  color: var(--app-error-message-color);
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
 }
