<!--
 Copyright 2024 Google LLC

 Use of this source code is governed by a BSD-style
 license that can be found in the LICENSE file or at
 https://developers.google.com/open-source/licenses/bsd
-->

<ng-container
  *ngIf="isPrimitiveType(output); then renderPrimitive; else renderSubobject"
></ng-container>
<ng-template #renderPrimitive> {{ output }} </ng-template>
<ng-template #renderSubobject>
  <div
    [ngClass]="{ 'add-indent': level !== 0 }"
    *ngFor="let item of $any(output) | keyvalue: originalOrder"
  >
    <b>{{ item.key }}:</b>
    <app-json-viewer [output]="item.value" [level]="level + 1"></app-json-viewer>
  </div>
</ng-template>
