{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "./node_modules/gts/"
  ],
  "rules": {
    "no-console": "off"
  },
  "env": {
    "node": true,
    "browser": true
  }
}