{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "./node_modules/gts/"
  ],
  "rules": {
    "no-console": "off",
    "camelcase": ["error", { "properties": "always" }],
    "node/no-unpublished-import": ["error", {
      "allowModules": ["uuid"]
  }]
  },
  "env": {
    "node": true,
    "browser": true
  }
}