<!--
 Copyright 2023 The Chromium Authors. All rights reserved.
 Use of this source code is governed by a BSD-style license that can be
 found in the LICENSE file.
-->
<ng-container
  *ngIf="isPrimitiveType(output); then renderPrimitive; else renderSubobject"
></ng-container>
<ng-template #renderPrimitive>
  {{ output }}
</ng-template>
<ng-template #renderSubobject>
  <div class="routine-v2-card-content" *ngFor="let item of $any(output) | keyvalue: originalOrder">
    <b>{{ item.key }}:</b>
    <app-routine-v2-card-content [output]="item.value"></app-routine-v2-card-content>
  </div>
</ng-template>
