<!--
 Copyright 2021 The Chromium Authors. All rights reserved.
 Use of this source code is governed by a BSD-style license that can be
 found in the LICENSE file.
-->

<div class="row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="16px">
  <div class="col-container" fxFlex fxLayout="column" fxLayoutGap="16px">
    <div class="card-container"><app-memory-card></app-memory-card></div>
  </div>
  <div class="col-container" fxFlex fxLayout="column" fxLayoutGap="16px">
    <div class="card-container"><app-cpu-card></app-cpu-card></div>
  </div>
  <div class="col-container" fxFlex fxLayout="column" fxLayoutGap="16px">
    <div class="card-container"><app-storage-card></app-storage-card></div>
  </div>
</div>
