
.telemetry-card {
  background-color: var(--app-dashboard-card-background);
  padding: 3rem;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  color: var(--app-dashboard-card-color);
}

.telemetry-card header {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 1rem;
}

.telemetry-card-content-container {
  max-height: 300px;
  overflow: auto;
  padding: 10px;
}

.error-message {
  color: var(--app-error-message-color);
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.loading-spinner {
  margin: auto;
}
