/**
 * Copyright 2024 Google LLC
 *
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file or at
 * https://developers.google.com/open-source/licenses/bsd
 */

.diagnostics-dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.diagnostics-card-container {
  margin: 8px;
  width: 100%;
}

.error-message {
  color: var(--app-error-message-color);
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
