<!--
 Copyright 2023 Google LLC

 Use of this source code is governed by a BSD-style
 license that can be found in the LICENSE file or at
 https://developers.google.com/open-source/licenses/bsd
-->

<div class="diagnostics-dashboard">
  <ng-container *ngIf="error; then showError; else renderContent"></ng-container>
  <ng-template #showError>
    <div class="error-message">
      <mat-icon mat-list-icon>warning</mat-icon>
      {{ error }}
    </div>
  </ng-template>
  <ng-template #renderContent>
    <div class="diagnostics-card-container" *ngFor="let routine of visibleRoutines">
      <app-diagnostics-card [routine]="routine"></app-diagnostics-card>
    </div>
  </ng-template>
</div>
