/**
 * Copyright 2024 Google LLC
 *
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file or at
 * https://developers.google.com/open-source/licenses/bsd
 */

 .content-container {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.test-title {
  line-height: normal;
  font-size: 30px;
  font-weight: bold;
  flex: 0 0 auto;
  margin-bottom: 30px;
}

table {
  border-collapse: collapse; /* Required for single borders */
  width: 100%; 
}

th,
td {
  padding: 10px; /* Add padding for content */
  text-align: left; /* Align content to the left */
  position: relative; /* Enable positioning of the border element */
  border-top: 1px solid white; /* Vertical border on the left of each cell */
  border-bottom: 1px solid white; /* Vertical border on the right */
  border-left: none; /* Remove the top border */
  border-right: none; /* Remove the bottom border */
  border-collapse: collapse;
}

/* Styles for width distribution */
th {
  width: 30%;
}
td {
  width: 70%;
}
