<!--
 Copyright 2021 The Chromium Authors. All rights reserved.
 Use of this source code is governed by a BSD-style license that can be
 found in the LICENSE file.
-->

<div *ngFor="let navList of navLists">
  <div *ngIf="navList.hasHeader" mat-subheader>{{ navList.header }}</div>
  <mat-nav-list>
    <app-side-nav-item
      *ngFor="let navItem of navList.items"
      [icon]="navItem.icon"
      [link]="navItem.link"
      [name]="navItem.name"
    ></app-side-nav-item>
  </mat-nav-list>
</div>
