/*
 * Copyright 2021 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.physical-cpu {
  margin-top: 1rem;
}

.logical-cpu-grid {
  margin-top: 1rem;
  display: flex;
  flex-flow: row wrap;
}

.logical-cpu {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.logical-cpu .name {
    font-size: 0.9em;
    font-weight: 500;
    margin-bottom: 5px;
}
