<!--
 Copyright 2021 The Chromium Authors. All rights reserved.
 Use of this source code is governed by a BSD-style license that can be
 found in the LICENSE file.
-->

<div class="app-telemetry-card">
  <header>CPU</header>
  <div class="details">
    <p>Total threads: {{ cpuData.numTotalThreads }}</p>
    <p>Architecture: {{ cpuData.architecture }}</p>
    <div class="physical-cpu" *ngFor="let pCpu of cpuData.physicalCpus">
      <div>{{ pCpu.modelName }}</div>
      <div class="logical-cpu-grid">
        <div
          class="logical-cpu"
          *ngFor="let lCpu of pCpu.logicalCpus; let i = index"
        >
          <div class="name">CPU{{ i + 1 }}</div>
          <div class="usage">{{ getLCpuUsagePercentage(lCpu) | number: "1.2-2" }}%</div>
        </div>
      </div>
    </div>
  </div>
</div>
