

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="true"
    [disableClose]="true"
  >
    <mat-toolbar>RMA Tests</mat-toolbar>
    <app-rma-sidebar></app-rma-sidebar>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content-container">
    <app-header [showToggleSideNavButton]="false"></app-header>
    <div class="app-content-container">
      <div class="test-container">
        <app-test-viewer />
      </div>
      <div class="log-container">
        <app-log-viewer />
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
