<!--
 Copyright 2024 The Chromium Authors. All rights reserved.
 Use of this source code is governed by a BSD-style license that can be
 found in the LICENSE file.
-->

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="true"
  >
    <mat-toolbar>RMA Tests</mat-toolbar>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content-container">
    <app-header [showToggleSideNavButton]="false"></app-header>
    <div class="app-content-container">
      <div class="test-container">
        test container
      </div>
      <div class="log-container">
        log container
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
