

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;
}

mat-sidenav.mat-drawer {
  background-color: var(--app-sidenav-background);
  color: var(--app-sidenav-color);
}

mat-sidenav.mat-drawer-side {
  border-right: 1px solid var(--app-header-border-bottom-color);
}

.sidenav .mat-toolbar {
  background-color: var(--app-sidenav-background);
  color: var(--app-sidenav-color);
}

.sidenav .mat-list-base .mat-list-item {
  color: var(--app-sidenav-color);
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-drawer-content {
  background-color: var(--app-content-background);
  color: var(--app-content-color);
}

.sidenav-content-container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.app-content-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto; /* Allow app-content-container to fill remaining space */
  overflow: auto; /* Prevent any scrolling in app-content-container */
}

.test-container {
  box-sizing: border-box; /* Key Change */
  padding: 1rem 1rem;
  flex: 0 0 60%; /* Take 60% of the space */
  overflow: auto; /* Add scrolling if needed */
  border-bottom: 5px solid var(--app-header-border-bottom-color);
}

.log-container {
  background-color: var(--app-log-viewer-background);
  box-sizing: border-box; /* Key Change */
  padding: 1rem 1rem;
  flex: 0 0 40%; /* Take 40% of the space */
  overflow: auto; /* Add scrolling if needed */
}
