

<div class="routine-v2-dashboard">
  <ng-container *ngIf="error; then showError; else renderContent"></ng-container>
  <ng-template #showError>
    <div class="error-message">
      <mat-icon mat-list-icon>warning</mat-icon>
      {{ error }}
    </div>
  </ng-template>
  <ng-template #renderContent>
    <div class="routine-v2-card-container" *ngFor="let routineArgument of supportedRoutines">
      <app-routine-v2-card [routineArgument]="routineArgument"></app-routine-v2-card>
    </div>
  </ng-template>
</div>
