<!--
 Copyright 2024 Google LLC

 Use of this source code is governed by a BSD-style
 license that can be found in the LICENSE file or at
 https://developers.google.com/open-source/licenses/bsd
-->

<div class="routine-v2-card">
  <div class="header-bar">
    <div class="header-and-params">
      <header>{{ routineCategory !== null ? routineCategory.toUpperCase() : "error" }}</header>
      <div class="params-info" *ngIf="routineArgument">
        <div *ngFor="let routineArgumentDetail of $any(routineArgument) | keyvalue: originalOrder">
          <div
            class="param-info"
            *ngFor="let param of $any(routineArgumentDetail.value) | keyvalue: originalOrder"
          >
            {{ param.key }}: {{ param.value }}
          </div>
        </div>
      </div>
    </div>
    <div class="buttons">
      <button
        mat-raised-button
        color="basic"
        (click)="createAndStartRoutine()"
        [disabled]="
          routineState !== RoutineV2State.FINISHED &&
          routineState !== RoutineV2State.CANCELLED &&
          routineState !== RoutineV2State.EXCEPTION
        "
      >
        Run
      </button>
      <button
        mat-raised-button
        color="warn"
        (click)="cancelRoutine()"
        [disabled]="
          routineState !== RoutineV2State.RUNNING && routineState !== RoutineV2State.WAITING
        "
      >
        Cancel
      </button>
    </div>
  </div>
  <ng-container *ngIf="error; then showError; else showRunning"></ng-container>
  <ng-template #showError>
    <div class="error-message">
      <mat-icon mat-list-icon>warning</mat-icon>
      {{ error }}
    </div>
  </ng-template>
  <ng-template #showRunning>
    <div class="progress-bar-container">
      <mat-progress-bar
        class="progress-bar"
        mode="determinate"
        [value]="percentage"
      ></mat-progress-bar>
      {{ percentage }}%
    </div>
  </ng-template>
  <div
    class="message-bar"
    [ngClass]="passedColor"
    *ngIf="routineState === RoutineV2State.FINISHED && hasPassed !== undefined"
  >
    {{ hasPassed ? "Routine Passed" : "Routine Failed" }}
  </div>
  <div class="message-bar" [ngClass]="messageColor">
    <div class="routine-v2-card-content-container">
      <app-routine-v2-card-content [output]="output"></app-routine-v2-card-content>
    </div>
  </div>
</div>
