/**
 * Copyright 2024 Google LLC
 *
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file or at
 * https://developers.google.com/open-source/licenses/bsd
 */

.app-container {
  height: 100vh;
  width: 100%;
  background-color: var(--app-background);
}

h1 {
  color: var(--app-heading);
}
