<!--
 Copyright 2023 Google LLC

 Use of this source code is governed by a BSD-style
 license that can be found in the LICENSE file or at
 https://developers.google.com/open-source/licenses/bsd
-->

<div class="events-card">
  <div class="header-bar">
    <header>{{ category.toUpperCase() }}</header>
    <div class="buttons">
      <button
        mat-raised-button
        color="basic"
        (click)="startCapturingEvents()"
        [disabled]="state === 'listening'"
      >
        Start
      </button>
      <button
        mat-raised-button
        color="warn"
        (click)="stopCapturingEvents()"
        [disabled]="state === 'not_listening'"
      >
        Stop
      </button>
    </div>
  </div>
  <div class="events-content-container">
    <div class="events-content">
      <ng-container *ngIf="error; then showError; else showContent"></ng-container>
      <ng-template #showError>
        <div class="error-message">
          <mat-icon mat-list-icon>warning</mat-icon>
          {{ error }}
        </div>
      </ng-template>
      <ng-template #showContent>
        <div class="events-card-content-container" *ngFor="let event of eventList">
          Get event:
          <app-events-card-content [event]="event!"></app-events-card-content>
        </div>
        <ng-container *ngIf="state === 'listening'">
          <div class="listening-text">listening {{ category }} event ...</div>
        </ng-container>
      </ng-template>
    </div>
  </div>
</div>
