/*
 * Copyright 2021 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.row {
  margin-bottom: 1rem;
}

.header .laptop-name {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.header .os-version {
  font-size: 24px;
}

.app-spec-list {
  list-style: none;
  padding: 0;
}

.app-spec-list p {
  font-size: 20px;
  margin-bottom: 1rem;
}

.card-container-placeholder {
  background-color: var(--app-dashboard-card-background);
  padding: 3rem;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  font-size: 24px;
  color: var(--app-dashboard-card-color);
}

.card-container {
  background-color: var(--app-dashboard-card-background);
  padding: .5rem 1rem;
  border-radius: 3px;
  font-size: 18px;
  color: var(--app-dashboard-card-color);
  border: 1px solid var(--app-dashboard-card-border-color);
}
