/**
 * Copyright 2021 Google LLC
 *
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file or at
 * https://developers.google.com/open-source/licenses/bsd
 */

.nav-spacer {
  flex: 1 1 auto;
}

.app-header {
  background-color: var(--app-header-background);
  border-bottom: 1px solid var(--app-header-border-bottom-color);
  color: var(--app-header-color);
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-slide-toggle {
  display:inline-flex;
  vertical-align:top;
}

.app-label {
  padding: 1em;
  background-color: var(--app-header-background);
  border-bottom: 1px solid var(--app-header-border-bottom-color);
  color: var(--app-header-color);
  position: sticky;
  z-index: 1;
  font-size: 60%;
  vertical-align: -6px;
}
