/*
 * Copyright 2021 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.mat-list-item {
  color: var(--app-sidenav-color);
}

.mat-list-item h3 {
  font-size: 18px;
  transition: all 0.2s ease-in-out;
}

.mat-list-item .mat-icon {
  color: var(--app-sidenav-icon-color);
}

.nav-item-active .mat-icon {
  color: var(--app-sidenav-item-active-icon-color);
  transition: all 0.2s ease-in-out;
}

.nav-item-active h3 {
  color: var(--app-sidenav-item-active-color);
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}
