<!--
 Copyright 2024 Google LLC

 Use of this source code is governed by a BSD-style
 license that can be found in the LICENSE file or at
 https://developers.google.com/open-source/licenses/bsd
-->

<div class="top-button-row">
  <button
    mat-raised-button
    class="test-operation-button"
    (click)="testCompleted()"
    [disabled]="!isRunning || currentTestIndex == AUDIT_PAGE_INDEX"
  >
    Skip this test
  </button>
  <button
    mat-raised-button
    class="test-operation-button"
    (click)="runCurrentTest()"
    [disabled]="isRunning || currentTestIndex == AUDIT_PAGE_INDEX"
  >
    Run this test only
  </button>
</div>
<ng-container #testComponentContainer> </ng-container>
